.ocr-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;

  background-image: linear-gradient(#464d55, #25292e);
  border-radius: 8px;
  border-width: 0;
  box-sizing: border-box;
  color: #fff;
  font-size: 18px;
  opacity: 0.3;
  padding: 6px;
  outline: 0;
  cursor: pointer;
}

a > .ocr-button {
  opacity: 1;
  border-radius: 5px;
  background: transparent;
  font-size: 0.8em;
  vertical-align: middle;
  padding: 4px;
  margin-left: 0.4em;
  color: inherit;
  border: 1px solid currentColor;
}

.ocr-button:hover {
  visibility: visible;
  opacity: 0.8;
}

.ocr-button-hidden {
  visibility: hidden;
}
